[Unit]
Description=BTClights
ConditionPathIsDirectory=/home/pi/BTCLight

[Service]
ExecStart=/home/pi/BTCLight/main.py
NotifyAccess=main
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target
